.container{
    margin-bottom: 80px;
}

/* Category style start */
.cat-style{
    height: 200px;
    width: 180px;
    padding: 16px 26px;
    margin: 40px auto;
    padding: auto;
    box-shadow: 5px 5px 10px lightgrey;
}
/* Category style end */

.cat-heading{
    background-color: darkorange;
    height: 6px;
    width: 120px;
    border-radius: 10px;
    margin: auto;
}
/* Category style end */

/* card custom style start */
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
/* card custom style end */